body {
  background-color: #Fad4c5;
  font-family: sans-serif;
  color: #a52a2a;
  margin: 10px;
  padding: 0px;
  font-size: 18px;
  text-align: center;
}

.btn, .btnv{
  background-color: #fa8072;
  color: #a52a2a;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-style: solid;
  border-color: #a52a2a;
}

.btnv {
  margin:auto;
}

.help {
  text-align: center;
}

.hand-area {
  margin: 10px;
}



.naslov, .broj-spil,  {
  margin: 10px;
}

.btn:hover, .btnv:hover {
  cursor: pointer;
}

.play-area {
  margin-top: 50px;
  margin-bottom: 50px;
}

.game-over, .cestitke {
  background-color: #Fad4c5;
  font-family: sans-serif;
  color: #a52a2a;
  margin: 10px;
  padding: 0px;
  font-size: 32px;
  text-align: center;
}

.pokreni {
  text-align: justify;
  margin-left: 150px;
  margin-right: 150px;
}
